*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@keyframes moveSquare {
    0% {
        top: 40%;
    }
    25% {
        top: 60%;
    }
    50% {
        top: 40%;
    }
    100% {
        top: 50%;
    }
}
.main-container{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('https://i.pinimg.com/originals/e3/c7/f2/e3c7f24c2bdf2e61c251a7ee4cb00ccd.jpg');
  background-size: cover;
}

.small-container{
  position: relative;
  width: 320px;
  height: 380px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #505050;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  animation: moveSquare 1200ms;
}

.button-container{
  text-align: center;
  width: 250px;
  margin: 20px auto;
  box-shadow: 0px 0px 20px 9px #181818;
  border-radius: 10px;
  position: relative;
  border-bottom-style: solid;
  border-color: grey;
}
.toggle-button{
  position: relative;
  padding: 2px 30px;
  color: white;
  margin: 5px;
  cursor: pointer;
  border: 0;
  background: transparent;
}
#tg-button{
  top: 0;
  left: 0;
  position: absolute;
  width: 56%;
  height: 100%;
  background: #181818;
  border-radius: 10px;
  opacity: 0.7;
  transition: .5s;
}
.entry-container {
  position: absolute;
  width: 280px;
  top: 120px;
  transition: 0.5s;
}
.entry-field{
  width: 100%;
  padding: 10px 0;
  margin: 3px auto;
  background: transparent;
  border-style: none;
  border-bottom-style: solid;
  border-color: #939393;
  outline: none;
  color: white;
}

.login-button{
  width: 75%;
  padding: 10px 30px;
  cursor: pointer;
  margin: auto 35px;
  border-radius: 10px;
  border: 0;
  background: #181818;
  color: white;
}
.login-button:hover{
    background: #939393;
}
.register-button{
  width: 75%;
  padding: 10px 30px;
  cursor: pointer;
  margin: auto 35px;
  border-radius: 10px;
  border: 0;
  background: #181818;
  color: white;
}
.register-button:hover{
    background: #939393;
}

.check-box{
  margin: 30px 10px 30px 0;
  color: white;
  font-weight: bold;
}
span{
  color: white;
  font-size: 15px;
}

#login{
  left: 25px;
}
#register{
  left: 425px;
}
